.body {
    margin:0;
    
}
.auto-style12 {
            cursor: pointer;
            font-size: small;
            background-color: #009933;
        }
.auto-style1 {
            width: 18px;
        }
        .auto-style2 {
}
        .auto-style4 {
        }
        .auto-style5 {
            width: 512px;
        }
        .auto-style7 {
            width: 18px;
            color: #CCCCCC;
        }
        .auto-style8 {
            width: 243px;
            color: #CCCCCC;
        }
        .auto-style9 {
            color: #CCCCCC;
        }
        .auto-style10 {
            width: 131px;
            color: #CCCCCC;
        }
        .auto-style11 {
            width: 489px;
            color: #CCCCCC;
        }
        .auto-style13 {
            width: 512px;
            color: #CCCCCC;
        }
        .auto-style14 {
            width: 243px;
        }
        .auto-style15 {
            background-color: #009933;
        }
.button_mouse_out1 {
    background-color: #0099FF;
    color: white;
}
.button_mouse_out2 {
    background-color: #57c71b;
    color: white;
    cursor:pointer;
}
        
        .button_mouse_over1 {
          cursor: pointer;
        background-color: white;
            color: black;
        }
.div_1 {
    float:left;
    width:100%;
}
.label_user.name {
    float:right;
}
       .panel_long_1 {
           border-style:solid;
           border-color:#3f67a5;
           border-width:2px;
           background-color:#63B1EB;
        }  
         .panel_short_1 {
             background-color:#006699;
           border-style:solid;
           border-color:#3f67a5;
           border-width:2px;
        }  
                 .auto-style16 {
            font-size: xx-large;
            color: #FFFFFF;
        }
        .auto-style17 {
            cursor: pointer;
            width: 445px;
            color: #FFFFFF;
            font-size: small;
            background-color: #009933;
        }
        .auto-style19 {
            width: 4410px;
        }
        .auto-style24 {
            width: 4410px;
            color: #CCCCCC;
            height: 21px;
        }
        .auto-style26 {
            height: 86px;
        }
        .auto-style27 {
            width: 18px;
            color: #CCCCCC;
            }
        .auto-style28 {
            width: 243px;
            color: #CCCCCC;
            height: 21px;
        }
        .auto-style32 {
            width: 4480px;
            color: #CCCCCC;
            height: 21px;
        }
        .auto-style33 {
            width: 4480px;
        }